<!-- UN/COMMENT THE DESIRED LINES -->

<!-- PART 1 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Password Generator</title>
</head>
<body>
<h1>This is Password Generator</h1>
<h2>your password is: {{ password }}</h2>
<form action="">
    <label>number of characters:
        <input name="charNum">
        <br>
    </label>
    <input type="submit" value="GENERATE">
</form>
</body>
</html>


<!-- PART 2 -->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">-->
<!--    <title>Password Generator</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>This is Password Generator</h1>-->

<!--<form action="show-generated">-->
<!--    <label>number of characters:-->
<!--        <select id="" name="length">-->
<!--            <option value="6">6</option>-->
<!--            <option value="7">7</option>-->
<!--            <option value="8">8</option>-->
<!--        </select>-->
<!--        <br>-->
<!--    </label>-->
<!--    <label>include capital letters?-->
<!--        <input name="capital" type="checkbox">-->
<!--    </label>-->
<!--    <br>-->
<!--    <label>include special letters?-->
<!--        <input name="special" type="checkbox">-->
<!--    </label>-->
<!--    <br>-->
<!--    <input type="submit" value="GENERATE">-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
